@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "lato", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    background-color: orange;
    border-radius: 10px;
    padding: 10px 15px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border: 0;
}

.text-light-gray {
    color: #727272;
}

/* header style */
header {
    background-color: gray;
    /* background-color: rgba(255, 144, 14, 0, 10); */
    padding: 30px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul {
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1em;
    font-weight: 500px;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
.nav-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}
.banner-contant {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title {
    font-size: 64px;
    font-weight: 700;
    color: #131313;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main style */
main {
    max-width: 1440px;
    margin: 70px auto;
}

.section-container {
    display: flex;
    align-items: center;
}
.image-contant {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    /* padding: 50px 30px 80px 100px; */
}
.content {
    padding-left: 70px;
    padding-right: 70px;
}
.section-tittle {
    font-size: 45px;
}

.section-tittle .quick-list {
    font-weight: 500;
}

.section-tittle .team-feature {
    color: #ff900e;
    font-weight: 700;
}

/* responsive media queries for small device*/
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }
    nav,
    .section-container {
        flex-direction: column;
    }

    .image-contant {
        grid-template-columns: 1fr;
    }
}

/* responsive media queries for medium device*/
@media screen and (min-width: 576px) and (max-width: 960px) {
    header {
        padding: 30px;
    }
    nav,
    .section-container {
        flex-direction: column;
    }
}
